* {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: row;
    height:100vh;
}

main {
    flex: 0 0 80%;




    padding: 1em;
}

#right{
    flex: 1;
    

    display: sticky;
    top: 0;
}

@media screen and (max-width: 768px) and (orientation:portrait){
    body{
        flex-direction: column-reverse !important;
        height:auto;
    }
}